.main {
  background-color: #fff;
  min-height: 100vh;
}
.mainPage{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  height: 100vh;
}

.modalDialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background-color: #fff;
  color:black;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.2);
  padding-inline: 50px;
  height:50vh;
  min-width: 250px;
  width:50vw;
  position: absolute;
  top:20vh;
  left:25vw;
}
.modalBody{
  font-size: 16px;
  line-height: 20px !important;
}
.title{
  line-height: 20px;
  font-size: 18px;
  font-weight: 600;
  padding-top: 30px;
}
.description{
  line-height: 20px;
  font-size: 16px;
  padding-top: 10px;
}
.modalHeader{
  margin-top: 20px;
  display:flex;
  justify-content: space-between;
  gap:15px;
}
.modalFooter{
  display:flex;
  justify-content: center;
  padding-bottom: 30px;
  gap:15px;
}
.mainBtn {
  padding: 8px 12px;
  background-color: hsl(300, 76%, 50%);
  color:black;
  outline: none;
  margin-top: 50px;
  border: 2px solid hsl(300, 76%, 50%);
  border-radius: 8px;
  width:fit-content;
}
.xBtn{
  padding: 8px 12px;
  background-color: transparent;
  border: 1px solid transparent;
  outline:none;
  font-weight: 600;
  font-size: 18px;
  color:hsl(300, 76%, 50%);
  margin-top: 20px;
  width:fit-content;
}
.closeBtn {
  padding: 8px 12px;
  background-color: transparent;
  border: 2px solid hsl(300, 76%, 50%);
  color:hsl(300, 76%, 50%);
  margin-top: 50px;
  border-radius: 8px;
  width:fit-content;
}
.closeBtn:hover, .mainBtn:hover {
  background-color: rgb(224, 31, 224, 0.5);
  cursor: pointer;
  color: black;
  border: 2px solid transparent;
}


@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
  .modalDialog {
    width:84vw;
    left:8vw;
    height: 55vh;
    padding-inline: 20px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
